<mat-card class="tab-card">
  <div class="text-row">
    <mat-icon class="icon-calender">calendar_today</mat-icon>
    <div class="text-group">
      <p class="title">วันลาคงเหลือ</p>
      <p class="value">{{remainDay}} วัน</p>
    </div>
  </div>
</mat-card>

<mat-card class="tab-card">
  <div class="text-row">
    <mat-icon class="icon-schedule">schedule</mat-icon>
    <div class="text-group">
      <p class="title">ลาที่รออนุมัติ</p>
      <p class="value">{{pendingData}} รายการ</p>
    </div>
  </div>
</mat-card>

<mat-card class="tab-card">
  <div class="text-row">
    <mat-icon class="icon-description">description</mat-icon>
    <div class="text-group">
      <p class="title">ลาทั้งหมดในปีนี้</p>
      <p class="value">{{sumLeaveDay}} วัน</p>
    </div>
  </div>
</mat-card>

<mat-card class="tab-card">
  <div class="group-table">
    <p class="list-text">รายการล่าสุด</p>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header hidden></th>
        <td mat-cell *matCellDef="let row" hidden></td>
      </ng-container>


      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>วันที่</th>
        <td mat-cell *matCellDef="let element">
          {{ element.startDate | thDate : element.endDate }}
        </td>
      </ng-container>


      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>ประเภท</th>
        <td mat-cell *matCellDef="let element">
          {{ element.leaveTypeEntity?.typeDescription }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>จำนวนวัน</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dayDiff }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>สถานะ</th>
        <td mat-cell *matCellDef="let element">
          <span [ngClass]="element.leaveStatus | statusClass" class="status-badge">
            {{ element.leaveStatus | status}}
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data" [attr.colspan]="displayedColumns.length">
          ไม่มีข้อมูล
        </td>
      </tr>

    </table>

  </div>
</mat-card>