.tab-card {
  display: flex;
  align-items: start;
  margin-top: 20px;
  width: auto;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  padding: 0px;
}

.tab-card-detail {
  display: flex;
  align-items: start;
  width: auto;
  height: auto;
  border-radius: 8px;
  padding: 0px;
  justify-content: space-between;
}

.card {
  margin-top: 20px;
}

.detail {
  border-top: 1px solid #cbcbcb;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.text-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

.text-group-detail {
  flex: 1 1 200px;
  min-width: 150px;
}

.leave-status {
  padding: 2px 10px;
  border-radius: 20px;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  margin-top: 30px;
}

.text-group .title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 0;
}

.icon-chat {
  font-size: 20px;
}

.text-group .value {
  margin: 0;
  font-size: 14px;
  margin-top: 10px;
  color: #555;
}

.text-group-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 150px
}

.text-group-detail .title {
  font-size: 16px;
  color: #555;
  margin: 0;
}

.text-group-detail .value {
  margin: 0;
  font-size: 18px;
  margin-top: 10px;
  color: black;
}

.text-group-detail .value textarea {
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

.pending {
  background-color: #fff3cd;
  color: #856404;
}

.action-row {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px 20px;
}

.btn-cancel,
.btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-submit {
  background-color: rgb(48, 188, 48);
}

.btn-cancel {
  background-color: red;
}

.btn-submit:hover {
  background-color: rgb(38, 150, 38);
  transform: scale(1.05);
}

.btn-cancel:hover {
  background-color: darkred;
  transform: scale(1.05);
}

.btn-cancel mat-icon,
.btn-submit mat-icon {
  transition: transform 0.3s ease;
}

.btn-cancel:hover mat-icon,
.btn-submit:hover mat-icon {
  transform: rotate(-10deg);
}
