@use '@angular/material' as mat;

@include mat.core();

$light-primary: mat.m2-define-palette(
  mat.$m2-blue-palette,
  300,
  100,
  700
);

$light-accent: mat.m2-define-palette(mat.$m2-teal-palette, 300);
$light-warn: mat.m2-define-palette(mat.$m2-red-palette);


$light-theme: mat.m2-define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  )
));


$dark-primary: mat.m2-define-palette(mat.$m2-grey-palette, 900);
$dark-accent: mat.m2-define-palette(mat.$m2-light-blue-palette, 200);
$dark-warn: mat.m2-define-palette(mat.$m2-red-palette);

$dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

.light-theme {
  @include mat.all-component-themes($light-theme);
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);

  // background-color: #000;
  // color: #fff;
}

