@use './custom-theme.scss';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.light-theme .theme-toggle.light-btn {
  background-color: rgba(0, 0, 0, 0.171);
  color: #5b0c8c;
}

.dark-theme .theme-toggle.dark-btn {
  background-color: #18a5614e;
  color: white;
}

.light-theme .theme-toggle.light-btn:hover {
  background-color: #fb87fb;
}

.dark-theme .theme-toggle.dark-btn:hover {
  background-color: #19c499;
}

.mat-mdc-tab-group .mdc-tab__text-label {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.light-theme .container {
  background-color: #f5f5f5;
  color: black;
}

.dark-theme .container {
  background-color: #1e1e1e;
  color: white;
}

.dark-theme .container,
.dark-theme .container * {
  color: white !important;
}

.dark-theme .mat-card {
  background-color: #2c2c2c;
  color: white;
}

.dark-theme .mat-toolbar {
  background-color: #333;
  color: white;
}

.dark-theme .mat-tab-group .mat-tab-label {
  color: white;
}

.dark-theme .mat-tab-group .mat-tab-label.mat-tab-label-active {
  color: #4caf50;
}

::ng-deep .fc .fc-daygrid-day-number,
::ng-deep .fc .fc-daygrid-day-top {
  padding: 0 !important;
  height: 60px;
  color: black !important;
}

.dark-theme .container *:not(::ng-deep .fc .fc-daygrid-day-number):not(::ng-deep .fc .fc-daygrid-day-top) {
  color: white !important;
}

body,
mat-toolbar,
.mat-mdc-button,
.theme-toggle,
.header,
mat-tab-group,
.mat-mdc-tab,
.mat-mdc-tab-label,
.mat-mdc-tab-header,
.mat-mdc-tab-body-content,
.mat-mdc-tab-body,
.mat-card,
.container,
table,
td,
th,
.full-calendar,
.fc {
  transition: background-color 0.8s ease, color 0.8s ease, border-color 0.8s ease;
}
